.col {
  /* background-color: bisque; */

  width: 50%;
  height: 40px;

  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 5%;
}

.sec, .row{
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;

  margin-bottom: 20px;
}

select {
  width: 80%;
  height: 100%;
}

input {
  width: 80%;
  height: 100%;
}