
header{
  background-color: rgb(196, 227, 255);
  color:rgb(55, 55, 55);
}

#sectbody{
  display: flex;
  height: 80%;
  width: 90%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px;
}

#show{
  display: flex;

  width: 70%;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 5px;
  margin-top: 5px;

  border-bottom: 2px solid black;
  font-size: smaller;
  font-weight: bold;
}

#title{
  margin-top: 15px;
  background-color:rgb(226, 242, 252);
  border: 1px dotted black;
  padding: 5px;

  /* input box 중앙정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

#boxOfficeMain{ /* 메인 */
  display: flex;

  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#mvfooter{
  height: 200px;
  background-color: rgb(196, 227, 255);
  width: 60%;
  margin-left: 20%;
  padding-left: 12%;
  padding-top: 5px;
}

.divDt{
  width: 90%; /*상위의 title과 크기 같게 setting*/
  height: 60px;

  display: flex;
  justify-content: start;
  align-items: center;
}

input[type=date]{
  width: 40%;
  height: 30px;
}

ul{
  list-style: none;
  width: 70%;
  font-size: smaller;
  margin-top:5px;
}

.mvli:hover{
  background-color:lightgray;
  font-weight: bold;
  
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mvli{
  width: 100%;
  height: 40px;
  padding-left: 5px;
  /* border-style: double; */
  border-top: 1px solid white;
  border-bottom: 1px solid rgb(189, 189, 189);
  
  display: flex;
  justify-content: start;
  align-items: center;
}

.rank{
  width: 30px;
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color:lightskyblue;
  color: black;
  border-radius: 10px;
  margin-right: 10px;

  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movieNm{
  width: 60%;
}

.openDt{
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movieNm{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rankInten{
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#selmovie{
  width: 90%;
  height: 30px;
  margin-left: 20px;
}

fieldset{
  width: 60%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content:space-between;

  font-size: smaller;

  padding: 10px;
}

fieldset label{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* #selMVdiv{
  width: 40%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content:space-between;

  font-size: smaller;

  padding: 10px;
}

#selMVdiv label{
  display: flex;
  justify-content: space-between;
  margin: 5px;
} */

@media screen and (max-width : 1024px) {
  ul{
    width: 90%;
  }
  #show{
    width: 90%;
  }
  #mvfooter{
    width: 100%;
    margin-left: 0%;
  }
}

#blue{
  color: blue;
}

#red{
  color:crimson;
}

#movieNm, #openDt, #movieRank{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

#mvinfo{
  font-size: 90%;
}

/* #movieNm{
  display: flex;
  justify-content: start;
  align-items: start;
} */

#mvinfoName{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#mvinfoActor, #mvinfoDirector, #mvinfoGenre, #mvinfoOpenDt, #mvinfoCompanyNm{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: 5px;
}

#mvinfoActor{
  margin-top: 10px;
  margin-bottom: 0px;
}

.tt{
  font-weight: bolder;
  margin-right: 10px;
}

#line{
  height: 10px;
  display: flex;

  justify-content: start;
  align-items: center;

  margin-bottom: 5px;
}