*{
  padding: 0px;
  margin: 0px;
}

body {
  background-repeat: no-repeat;
  background-size:auto 1080px;
  background-repeat: no-repeat;
}

body h1{
  display: flex;

  justify-content: center;
  color:rgb(57, 56, 56);
}

body ul{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.Lii{
  background-color:beige;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 40px;
  width: 250px;
  border-radius: 24px;
  font-size: small;
  border: 2px solid rgb(46, 46, 46);
}

.Lii:hover{
  background-color: rgb(253, 197, 206);
  color: antiquewhite;
  font-weight: bolder;
  border: 2px solid rgb(46, 46, 46);
}

.space{
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

a{
  text-decoration: none; 
  color: black;
}

#title h1{
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  border: 3px solid rgb(83, 83, 83);
  background-color: rgba(255, 216, 222, 0.829);
  margin-top: 40px;
  margin-bottom: 20px;
}

#title{
  margin-left: 35%;
  margin-right: 35%;
}

@media screen and (max-width : 1400px) {
  #title h1{
    width: 100%;
    /* margin-left: 0%;
    margin-right: 0%; */
    font-size: 25px;
    /* min-width: 400px; */

    display: flex;
    
  }
  #title {
    margin-left: 20%;
    margin-right: 20%;
  }
  
}
