*{
  padding: 0px;
  margin: 0px;
}

body {
  background-repeat: no-repeat;
  background-size:100%;
  background-repeat: repeat-y;
}

body h1{
  display: flex;

  justify-content: center;
  color:rgb(57, 56, 56);
}

body ul{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Lii{
  background-color:lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  font-size: small;
}

.Lii:hover{
  background-color:rgb(250, 98, 179);
  color: antiquewhite;
  font-weight: bolder;
  border: 1px blue;
}

.space{
  display: flex;

  flex-direction: column;
  justify-content: center;
  height: 40%;
  align-items: center;
}

a{
  text-decoration: none; 
  color: black;
}

#title h1{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid whitesmoke;
  background-color: rgb(253, 197, 206);
}

#title{
  margin-left: 35%;
  margin-right: 35%;
}

@media screen and (max-width : 1300px) {
  #title h1{
    width: 100%;
    /* margin-left: 0%;
    margin-right: 0%; */
    font-size: medium;
    /* min-width: 400px; */
  }
  #title {
    margin-left: 20%;
    margin-right: 20%;
  }
}
