*{
  background-color: rgb(61, 61, 61);
  padding: 0px;
  margin: 0px;
}

body h1{
  display: flex;
  margin-top: 20%;
  justify-content: center;
  color: white;
}

body ul{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

body li{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 45px;
}

.space{
  display: flex;
  /* flex : 박스 내의 항목을 수직, 수평으로 배치가능하도록 함 */
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: 수평 정렬
     space-between: 자동 정렬되어 간격 지정됨 */
  height: 40%;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}
