*{
  padding : 0px;
  margin: 0px;
  box-sizing: border-box;
}

header, main {
  width: 60%;
  margin-left: 20%;

  display: flex;
}

header {
  height: 80%;
  /* background-color:palevioletred; */
  background-color:cornflowerblue;
  color: aliceblue;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

header div {
  background-color:white;
  border-radius: 50%;
}

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  height: 500px;
  
}

div h1 {
  display: flex;
  justify-content: center;
}

.iface {
 margin: 10px;
 width: 75%;
 border: 1px dotted black;
 background-color: aliceblue;
}

.clickbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 3%;
  margin-bottom: 2%;
}

div a {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

button{
  padding: 10px;
  border-radius: 5px;
  background-color:cornflowerblue;
  color: white;
  border: none;
}

button:hover{
  background-color:lightskyblue;
  font-weight: bolder;
}

section{
  margin: 5px;
}

section img {
  width: 100%;
  height: 100%;
}
