*{
  padding : 0px;
  margin: 0px;
  box-sizing: border-box;
}
header, main {
  width: 60%;
  margin-left: 20%;

  display: flex;
}

header {
  height: 80px;
  /* background-color:palevioletred; */
  background-color:cornflowerblue;
  color: aliceblue;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

header div {
  background-color:white;
  border-radius: 50%;
}

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
  border: 1px dotted black;
}

button{
  padding: 10px;
  border-radius: 5px;
  background-color:cornflowerblue;
  color: white;
  border: none;
}

button:hover{
  background-color:lightskyblue;
  font-weight: bolder;
}

section{
  margin: 5px;
}
