.image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

section div{
  margin: 15px;
}