.sect {
  border: 1px dotted black;
  width: 90%;
  
  padding: 15px;
  margin: 5px; 
}

.div1{
  background-color: rgb(95, 134, 160);
  padding: 10px;
  border-radius: 10px;
  margin: 0px 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divplus{
  color: dimgray;
  background-color: white;
}

span{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 3px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: larger;
  font-weight: bold;
}

.sp0{
  background-color: rgb(255, 252, 94);
}

.sp1{
  background-color: rgb(255, 149, 0);
}

.sp2{
  background-color: rgb(85, 213, 85);
}

.sp3{
  background-color: rgb(86, 239, 250);
}

.sp4{
  background-color: rgb(222, 93, 245);
}

#print {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#buttondiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
  background-color:aliceblue;
}

.sect button{
  padding: 10px;
  border-radius: 5px;
  background-color:rgb(154, 204, 254);
  color: black;
  font-weight: bold;
  border: none;
  margin: 10px;
  width: 30%;
}

#sectbody{
  height: 70%;

}